@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #0F0E0E;
    color: #EEEEEE;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding:10px;

    font-size:30pt;
    font-family: 'Passion One', cursive;
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top:20px;
    margin-bottom:20px;
}

#painel{
    border: 5px solid #541212;
    border-radius: 5px;

    width:700px;
    height:100px;
    font-size: 50pt;
    text-align: end;

    padding:10px;
}


/*criando grid do teclado numerico*/
#zero{grid-area: zero;}

#um{ grid-area: um;}

#dois{ grid-area: dois;}

#tres{ grid-area: tres;}

#quatro{grid-area: quatro;}

#cinco{ grid-area: cinco;}

#seis{grid-area: seis;}

#sete{grid-area: sete;}

#oito{grid-area: oito;}

#nove{grid-area: nove;}

#soma{grid-area: soma;}

#subtrai{grid-area: subtrai;}

#multiplica{grid-area: multiplica;}

#divide{grid-area: divide;}

#reset{grid-area:c;}

#corrige{grid-area:corrige;}

#virgula{grid-area:virgula;}

#igual{grid-area:igual;}


#teclado{
    
    width:700px;
    height:350px;

    padding-top: 20px;

    display:grid;

    grid-template-areas: "c corrige corrige divide"
                        "sete oito nove multiplica" 
                        "quatro cinco seis subtrai"
                        "um dois tres soma"
                        "zero zero virgula igual";
}

#teclado button{
    font-size: 30pt;
    border-radius: 5px;
}

#teclado button:hover{
    background-color: #541212;
}

/*=============
RESPONSIVIDADE
==============*/
@media (max-width: 755px) and (min-width: 631px){
    body{
        font-size:25pt;
    }
    
    h2{
        margin-bottom:20px;
    }
    
    #painel{
        width:600px;
    }
    
    #teclado{   
        width:600px;
        height:350px;
    }
}

@media (max-width: 630px) and (min-width:526px){
    body{
        font-size:20pt;
    }
    
    h2{
        margin-bottom:20px;
    }
    
    #painel{
        width:500px;
    }
    
    #teclado{   
        width:500px;
        height:350px;
    }
}

@media (max-width: 525px) and (min-width:500px){
    body{
        padding:10px;
        font-size:18pt;
    }
    
    h2{
        margin-bottom:20px;
    }
    
    #painel{
        width:430px;
    }
    
    #teclado{   
        width:430px;
        height:350px;
    }
}

@media (max-width:499px){
    body{
        padding:10px;
        font-size:12pt;
    }
    
    h2{
        margin-bottom:10px;
    }
    
    #painel{
        width:350px;
    }
    
    #teclado{   
        width:350px;
        height:280px;
    }
}